.contact {

	.page-header {
		margin-bottom: 0;
	}

	.page-content {
		background: url('../img/contact-slant.png');
		background-size: 85% 600px;
		background-repeat: no-repeat;
		padding-bottom: 60px;
	}

	.contact-form {
		max-width: 600px;
		padding-top: 5%;
	}

	form {
		input, 
		textarea {
			width: 100%;
			margin-bottom: 30px;
			height: 45px;
			text-transform: uppercase;
			color: $black;
			background-color: $white-transparent;
			font-size: 15px;
			font-size: 1.5rem;
			border: 1px solid $medium-grey;
			text-indent: 10px;
			padding: 10px 0;

			&::-webkit-input-placeholder {
				color: $black;
			}

			&:-moz-placeholder {
				color: $black;  
			}

			&::-moz-placeholder {
				color: $black;  
			}

			&:-ms-input-placeholder {  
				color: $black;  
			}
		}

		textarea {
			height: 200px;
		}

		input[type=submit] {
			background-color: $dark-grey;
			text-align: center;
			font-size: 20px;
			font-size: 2rem;
			color: white;
			height: 50px;
			transition: opacity 1s;

			&:hover {
				opacity: .8;
				transition: opacity 1s;
			}
		}
	}
}