.home-page {
	.page-header {
		padding-top: 40%;
	}

	.logo-container {
		background-color: $secondary-solid;
		width: 80%;
		max-width: 800px;
		text-align: center;
		border: 3px solid $white;
		margin: -15% auto 0;
		padding: 10% 0 5%;

		.picture {
			width: 25%;
			display: block;
			margin: -28% auto 0;
		}

		.logo {
			width: 80%;
			margin-top: 5%;
		}
	}
}