// ------
// Colors
// ------

$black: #000;
$white: #FFF;

$dark-grey: #48525c;
$light-grey: #f3f3f3;
$purple-solid: #b0c4de;
$purple-light: #cfe2f3;
$blue: #b0e0e6;

// -----
// Fonts
// -----

$font-primary: 'Quicksand', sans-serif;
$font-secondary: 'Cedarville Cursive', cursive;

// -----------
// Breakpoints
// -----------

$break-xsmall: 			380px;
$break-small: 			560px;
$break-medium: 			760px;
$break-large: 			1050px;