// ------
// Colors
// ------

$black: #000;
$white: #FFF;
$white-transparent: rgba( 255, 255, 255, .3);

$dark-grey: #48525c;
$medium-grey: #d9d9d9;
$light-grey: #f3f3f3;
$secondary-solid: #b0c4de;
$cream: #ece9e8;
$secondary-transparent: rgba( 207, 226, 243, .6);
$blue: rgba( 176, 224, 230, .5);

// -----
// Fonts
// -----

$font-primary: 'Quicksand', sans-serif;
$font-secondary: 'Cedarville Cursive', cursive;

// -----------
// Breakpoints
// -----------

$break-xsmall: 			380px;
$break-small: 			560px;
$break-medium: 			760px;
$break-large: 			1050px;